* text=auto eol=lf

*.blade.php diff=php
*.blade diff=php
*.php diff=php

*.md diff=markdown

*.css linguist-documentation
*.html linguist-documentation
*.js linguist-documentation

/.github export-ignore
README.md export-ignore
