form {
    padding: 20px;
    border: 0.015px solid #357761;
    width: 500px;
    box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
    border-radius: 16px;
}

#submit-btn {
    float:right;
    margin-top: 10px;
    color:white;
    background-color: #357761;
    border: 0;
}

#submit-btn:hover {
    background-color: darkgreen;
}

#cadlink {
    float:right;
    margin-top: 15px;
    margin-right: 20px;
    text-decoration: none;
    color: #357761;

}

label {
    color: #357761;
}

#side2side {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
}

#side2side div{
    
    margin-bottom: -30px;
}

#InputCnpj, #InputFone {
    width: 200px;
    
}
.form-label {
    margin: 0;
}

.mb-3 {
    margin-bottom: 0px;
}

@media only screen and (max-width: 720px) {
    form {
        width: 300px;
        margin-right: 0px;
        }
    
}   


@media only screen and (min-width: 900px) and (max-width:1024px)    {
    form {
        width: 700px;
        margin-right: 0px;
        }

        #side2side {
            flex-direction:column;
            justify-content:center;
            align-items: center;
        }
    
}   


@media only screen and (min-device-width: 768px) and (max-device-width: 1024px) and (orientation: landscape) {
    form {
        width: 600px;
        padding: 30px;
        margin: auto;
    }

    #submit-btn, #cadlink {
        float: none;
        display: block;
        width: 100%;
        margin: 20px 0 0 0;
        text-align: center;
    }

    label {
        font-size: 1.1em;
    }

    .mb-3 {
        margin-bottom: 10px;
    }
}
