/* NAVBAR BOLADAO */
nav{
    height: 12vh;
    background: transparent;
    backdrop-filter: blur(15px);
    width: 100%;
    display: flex;  
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav #logonav {
    width: auto;
    height: 20%;
    display: flex;
    align-items: center;
}

nav #logonav svg {
    width: 70%;
    height: auto;
    max-height: 80%;
}


#caminhos {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3%;
}

#caminhos a{
    text-decoration: none;
    color: black !important;
    padding: 5px;
}

#caminhos #entrar{
    color: var(--secondary);
    background-color: rgb(255, 244, 215);
    border-radius: 7px;
}

@media screen and (max-width: 768px) {
    nav {
        height: auto;
        background: linear-gradient(to bottom, rgba(0, 0, 0, 0.15), rgba(255,255,255));
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    nav #logonav {
        display: none;
    }

    #caminhos {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #caminhos a {
        text-decoration: none;
        color: black !important;
    }

}