@import "Components/footer.css";
@import "Components/navbar.css";

:root {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary: #0e7a56;
    --secondary: #006747;
    --corfonte: #3c4250;
    --default-font: "Roboto", system-ui, -apple-system, "Segoe UI", Roboto, "Helvetica Neue", Arial, "Noto Sans", "Liberation Sans", sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji"
}

html,
body {
    background-color: white;
    max-width: 100%;
    width: 100%;
    height: 100dvh;
    padding: 0;
    font-family: var(--default-font);
    margin: 0;
}

img {
    width: 400px;
    height: auto;
    max-height: 400px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.linha-separadora {
    width: 30%;
    border: none;
    border-top: 2px solid #a6a6a6;
    margin: 10px 0 30px 0;
    height: 0;
    background: transparent;
}

.slogan {
    width: 80%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.slogan h2 {
    font-weight: bold;
    color: #3c4250;
    margin-top: 20px;
}

.entregador {
    width: 10%;
    height: auto;
    animation: DesceSobe 10s ease-in-out infinite;
    z-index: 1;
    margin-bottom: 0%;
}

/* Parte de Funcionalidades - home Page */

.element svg {
    width: 150px;
    transform: scale(1);
    height: auto;
    margin-bottom: 0.7rem;

}

.element p {
    bottom: 0;
    text-align: center;
}

.element h4 {
    text-align: center;
    margin-bottom: 10px;
    padding: 2px;
    font-weight: bold;
}

.element {
    width: 100%;
    max-width: 280px;
    height: 380px;
    background: linear-gradient(to bottom, rgba(255, 255, 255, 0.226), rgba(255, 255, 255, 0.30));
    backdrop-filter: blur(10px);
    border: 1px solid rgba(0, 0, 0, 0.10);
    border-radius: 8px;
    display: inherit;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 10px 10px;
    box-shadow: 0 4px 2px rgba(99, 99, 99, 0.658);
    margin: auto 20px;
    transition: transform 1s;
}

.element:hover {
    transform: scale(1.07);
}

.element svg::after {
    transform: scale(1.07);
}

.funcs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 60px;
    flex-wrap: wrap;
}

.slogan a {
    color: white;
    background-color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 3px;
    gap: 13px;
}

.ftcard {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width: 100%;
}

.logomidiasft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logomidiasft p {
    font-size: 10px;
}

.hero-section {
    padding: 1rem 0;
    text-align: center;
}

.hero-section h1 {
    margin-top: -70px;
    color: #3c4250;
    font-size: 200%;
    font-weight: bold;
}

.enterprises {
    width: 90% !important;
    max-width: 100%;
    display: flex;
    flex-direction: column;
    margin-bottom: 30px;
    padding: 0;
}

.title-enterprise {
    display: flex;
    justify-content: center;
    width: 100%;
    margin-bottom: 15px;
}

.title-enterprise h1 {
    font-size: 2rem;
    font-weight: 500;
    color: #3e3e3e;
    text-align: left;
    margin: 0;
}

.sec-enterprises {
    width: 100%;
    display: flex;
    flex-direction: row;
    gap: 12px;
    overflow-x: auto;
    padding-bottom: 10px;
    padding-top: 10px;
    scrollbar-width: none;
    -ms-overflow-style: none;
    padding-left: 0.5%;
    padding-right: 0.5%;
    justify-content: center;
}

.sec-enterprises::-webkit-scrollbar {
    display: none;
}

.enterprise {
    width: 100% !important;
    display: flex;
    flex-direction: row;
    align-items: center;
    background: white;
    border-radius: 8px;
    min-width: 250px;
    max-width: 250px;
    width: 250px;
    height: 120px;
    padding: 20px;
    position: relative;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.315);
    border: none;
}

.enterprise #verified {
    position: absolute;
    top: 5px;
    right: 5px;
    width: 20px;
    height: 20px;
}

.img-enterprise {
    width: 60px;
    height: 60px;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 10px;
    flex-shrink: 0;
}

.img-enterprise img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 50%;
}

.name-enterprise {
    display: flex;
    flex-direction: column;
    justify-content: center;
    overflow: hidden;
    flex-grow: 1;
}

.name-enterprise h3 {
    font-size: 14px;
    font-weight: 500;
    color: #3e3e3e;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0 0 3px 0;
}

.name-enterprise p {
    font-size: 12px;
    color: #717171;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    margin: 0;
}

/* Avaliações */
.avaliacoes {
    width: 90% !important;
    max-width: 100%;
    display: flex;
    flex-direction: column;
}

.title-avaliacoes {
    width: 100%;
    display: flex;
    justify-content: center;
}

.title-avaliacoes h2 {
    font-size: 2rem;
    font-weight: 500;
    color: #3e3e3e;
    text-align: left;
    margin: 0;
}

.cards-avaliacoes {
    display: flex;
    flex-direction: row;
    overflow-x: auto;
    scrollbar-width: none;
    -ms-overflow-style: none;
    gap: 50px;
    width: 100%;
    margin: 30px 0;
    padding-left: 0.5%;
    padding-right: 0.5%;
    justify-content: center;
}

.cards-avaliacoes::-webkit-scrollbar {
    display: none;
}

.card-avaliacao {
    background-color: #f8f9fa;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 15px;
    width: 220px;
    min-width: 160px;
    max-width: 300px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.avaliador {
    display: flex;
    justify-content: center;
    font-size: 0.95rem;
    color: #3b3b3b;
    margin: 0 0 5px 0;
}

.card-conteudo .comentario {
    font-style: italic;
    font-size: 0.90rem;
    color: #333;
    margin-bottom: 5px;
}

.estrela {
    display: flex;
    justify-content: center;
    color: #ffc107;
}

@media screen and (max-width:1500px) {
    .sec-enterprises,
    .cards-avaliacoes {
        justify-content: flex-start !important;
    }
}

@media screen and (max-width: 1090px) {

    .slogan h2 {
        font-size: 1.7rem;
    }

    .element {
        width: 100%;
        max-width: 280px;
        height: 300px;
        margin-top: 30px;
        transform: none;
    }

    .element h4 {
        font-size: 1rem;
        font-weight: bold;
    }

    .element p {
        font-size: 1rem;
        text-align: center;
    }

    .element svg {
        width: 100px;
        height: auto;
        margin-top: 10px;
        transform: none;
    }

    .enterprises .name-enterprise h3 {
        font-size: 0.9rem;
    }

    .enterprises .name-enterprise p {
        font-size: 0.8rem;
    }

    .cards-avaliacoes {
        gap: 20px;
    }

}

/* Responsividade */
@media screen and (max-width: 992px) {
    .enterprises .sec-enterprises {
        overflow-x: auto;
    }

    .entregador {
        width: 20% !important;
    }
}

@media screen and (max-width: 800px) {
    .funcs {
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .element {
        width: 70%;
        max-width: 500px;
        height: 250px;
        margin: 0;
        padding: 1%;
    }

    .element svg {
        width: 60px;
        height: auto;
        margin-top: 10px;
        transform: none;
    }

    .element h4 {
        font-size: 1rem;
        font-weight: bold;
    }

    .element p {
        font-size: 0.9rem;
        text-align: center;
    }

    .title-enterprise h1 {
        font-size: 1.1rem;
    }

    .title-avaliacoes h2 {
        font-size: 1.1rem;
    }
}

@media screen and (max-width: 480px) {
    .funcs {
        margin-bottom: 20px !important;
        flex-direction: column;
        flex-wrap: wrap;
        gap: 30px;
        justify-content: center;
        align-items: center;
    }

    .linha-separadora {
        margin-bottom: 20px !important;
    }

    .element {
        width: 70% !important;
        max-width: 500px;
        height: 250px;
        margin: 0;
        padding: 1%;
        transform: none !important;
    }

    .element h4 {
        font-size: 0.9rem;
        font-weight: bold;
    }

    .element p {
        font-size: 0.8rem;
        text-align: center;
    }

    .entregador {
        width: 30% !important;
    }

    .sec-enterprises, .cards-avaliacoes {
        margin-left: 4% !important;
        padding-left: 1% !important;
        padding-right: 9% !important;
    }

    .enterprises {
        width: 90% !important;
        max-width: 100%;
        display: flex;
        flex-direction: column;
        margin-bottom: 10px;
        padding: 0;
    }

    .title-enterprise {
        width: 100%;
        margin-bottom: 15px;
    }

    .title-enterprise h1 {
        font-size: 1.2rem;
    }

    .enterprise {
        width: 100% !important;
        min-width: 250px !important;
        max-width: 300px !important;
        height: 100px;
        padding: 20px;
        box-sizing: border-box;
    }

    .slogan {
        width: 90%;
    }

    .slogan h2 {
        font-size: 1.3rem;
    }

    .cards-avaliacoes {
        margin-left: 4%;
    }

    .title-avaliacoes h2 {
        font-size: 1.2rem;
        margin: 0;
    }

    .img-enterprise {
        width: 60px;
        height: 60px;
        margin-right: 10px;
    }

    .name-enterprise h3 {
        font-size: 1.0rem !important;
    }

    .name-enterprise p {
        font-size: 0.8rem !important;
    }

}


/* ANIMAÇÃO DESCE E SOBE */

@keyframes DesceSobe {
    0% {
        transform: translateY(0) rotate(-1deg);
    }

    25% {
        transform: translateY(5px) rotate(1deg);
    }

    50% {
        transform: translateY(10px) rotate(-1deg);
    }

    75% {
        transform: translateY(5px) rotate(1deg);
    }

    100% {
        transform: translateY(0) rotate(-1deg);
    }
}

@keyframes moveUpDown {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-20px);
    }
}