.sidebar {
    margin: 0;
    padding: 0;
    width: 0px;
    position: fixed;
    height: 100%;
    overflow: auto;
    transition: 0.5s;
    z-index: 10000000000000;
    background: linear-gradient(to right, #0e7a56, rgb(0, 192, 74));
    box-shadow: 5px 0px 10px rgba(0, 0, 0, 0.5);
}

.sidebar a {
    display: block;
    text-decoration: none;
    padding: 15px;
    align-items: center;
    transition: 0.3s;
    color: #ffffff;
    font-weight: 500;
}

.sidebar a:hover {
    background-color: #b5b6b680;
}

.side-item svg {
    width: 40px;
    height: auto;
    color: #ffffff;
    fill: #ffffff;
}

.address {
    font-size: 18px;
    margin-left: 10px;
}

.wrap-btn {
    margin-top: 10px;
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 0px;
    height: 65px;
}

.wrap-btn img {
    width: 100px;
    height: auto;
    margin-left: 10px;
}

.wrap-btn h2 {
    font-size: 12px;
}

.empresa {
    display: flex;
    flex-direction: row;
}

.close-btn {
    float: right;
    background-color: white;
    border: 1px solid #0e7a56;
    border-radius: 50px;
    padding: 8px;
}

.open-btn {
    background-color: white;
    border: 1px solid #0e7a56;
    border-radius: 50px;
    padding: 8px;
    margin-top: 10px;
    margin-left: 20px;
    float: left;
    z-index: 100;
    position: absolute;
}

.content {
    transition: 0.5s;
    overflow: hidden;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-left: 0px;
    z-index: 101;
}

.butoes {
    background-color: #f8f9fa;
    margin-left: 10px;
    border: none;
}

#active {
    color: white;
    background-color: #dadbdb80;
    font-weight: 600;
}

#active svg {
    fill: white !important;
}

@media screen and (max-width:950px) {
    .sidebar {
        position: fixed;
        bottom: 0;
        left: 0;
        right: 0;
        height: 70px;
        color: black;
        display: flex;
        justify-content: space-around;
        align-items: center;
        box-shadow: 0 -2px 5px rgba(0,0,0,0.2);
        z-index: 10000;
        width: 100%;
    }
    .wrap-btn {
        display: none;
    }
    .sidebar a {
        color: white;
        text-decoration: none;
        padding: 10px 15px;
        display: flex;
        flex-direction: column;
        align-items: center;
 
    }
    .open-btn {
        display: none;
        z-index: 1000;
        position: absolute;
    }

    .close-btn {
        display: none;
    }


    .side-item {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 50px;
    }

    .side-item svg {
        height:25px;
        width:40px;
    }

    .side-item span{
        font-size:11px ;
        margin-left: 0;

    }

    .sidebar a:hover {
        background-color: #ffffff41;
        border-radius: 4px;
    }

    .content {
        margin-left: 0;
    }
    #active {
        background: #b5b6b680;
        border-radius: 12px;

    }
}