:root

* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    --primary : #357761;
    --secondary: #006747;
}

html, body {
    background-color: white;
    max-width: 100%;
    width: 100%;
    height: 100vh;
    padding: 0;
    margin: 0;
}

img {
    width: 400px;
    height:auto;
    max-height: 400px;
}

main {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;    
}

main svg{
    width: 40%;
    height: 80%;
    margin-top: 50px;
}

.slogan {
    margin: 20px;
    text-align: center;
}


.NossaEquipe{
    background-color: var(--primary);
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 800px;
}

.NossaEquipe h2{
    padding-bottom: 25%;
    padding-left: 50px;
    color: #F7F7F2;
}

.NossaEquipe img{
    height: auto;
    float: right;
    border-radius: 10px;
    margin-right: 25px;
}

.NossaEquipe h3{
    color: #F7F7F2;
}

.Visao{
    background-color: #F7F7F2;
    background-position: center;
    background-size: cover;
    width: 100%;
    max-height: 400px;
    display: flex;
    align-items: center;
    justify-content: ceter;
    height: 800px;
}

.Visao h2{
    padding-bottom: 25%;
    padding-left: 50px;
    direction: rtl;
    text-align: left;
    
}

.Visao h3{
    padding-left: 400px;
    direction: rtl;
    padding-right: auto;
}

.Visao img{
    height: auto;
    float: left;
    border-radius: 10px;
    margin-right: 50px;
}

/* Parte de Funcionalidades - home Page */

.element  svg{
    width: 150px;
    transform: scale(1.1);
    height: auto;
}


.element p {
    bottom: 0;
}

.element h4 {
    text-align: center;
    margin-bottom: 10px;
}

.element {
    width: 100%;
    max-width: 300px;
    height: 400px;
    background-color: rgb(255, 244, 215);
    border-radius: 8px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 8px 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.712);
    margin: auto 40px;
    transition: transform 1s;
}

.element:hover {
    transform: scale(1.1);
}

.element svg::after{
    transform: scale(1.1);
}

.funcs {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
    margin-bottom: 90px;
    flex-wrap: wrap;
}

.slogan a {
    color:white;
    background-color: var(--secondary);
    text-decoration: none;
    font-weight: bold;
    padding: 5px;
    border-radius: 4px;
    gap: 13px;
}

/* Parte do <footer> da home page */

footer {
    bottom: 0;
    min-width: 100%;
    width: 100%;
    background-color:var(--secondary);
    color:white;
    flex-direction: column;
    display: flex;
    min-height: 100px;
    height: 200px;
}

.ftcard {
    align-items: center;
    justify-content: center;
    display: flex;
    flex-direction: row;
    width:100%;
}

.logomidiasft {
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
}

.logomidiasft p{
    font-size: 10px;
}

.infosfooter {
    width: 40%;
}

.infosfooter p{
    justify-content: center;
    margin: 5px 10px;
}

.copyright {
    margin: 2%;
    text-align: center;
}

/* Parte da aba de navegação */
nav{
    height: 15vh;
    background-color: var(--primary);
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: center;
}

nav #logonav {
    width: 25%;
    height: 80%;
    display: flex;
    align-items: center;
}

nav #logonav svg {
    width: 100%;
    height: 100%;
    max-height: 80%;
}

#caminhos {
    width: 65%;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    gap: 3%;
}

#caminhos a{
    text-decoration: none;
    color: #fff;
    padding: 5px;
}

#caminhos #entrar{
    color: var(--secondary);
    background-color: rgb(255, 244, 215);
    border-radius: 7px;
}

@media screen and (max-width: 768px) {
    nav {
        height: auto;
        background-color: var(--primary);
        width: 100%;
        display: flex;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        padding: 10px;
    }
    
    nav #logonav {
        display: none;
    }
    
    #caminhos {
        width: 60%;
        height: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    
    #caminhos a {
        text-decoration: none;
        color: #fff;
    }

    .element {
        height: 400px;
        margin-top:30px;
        transform: none;
       
    }

    .element  svg{
        width: 100px;
        height: auto;
        margin-top: 10px;
        transform: none;
    }

    

}