/* #pedidos table img{
    width: 100px;
    height: auto;
}

#pedidoimg{
    width: 70px;
    height: 100px;
}

.pedidos{  

    border: 1px solid rgba(228, 228, 228, 0.5);
    background: rgba(192, 192, 192, 0.349);
    box-shadow: 2px 5px 10px rgba(29, 29, 29, 0.3);
    border-radius: 8px;
    width: 100%;
    border-spacing: 10px;
    
}

  #pedidoimg {
    width: 60px;
  }
  
  td {
    vertical-align: middle;
    padding: 5px 10px;
  }

#valqtd {
    float: right;
    text-align: right;
    font-size:15px;
    
}

#valtot{
    float: right;
    text-align: right;
    font-size:20px;
    float: right;
}

table #pedidos{
    max-width: 350px;
    justify-content: center;
    justify-items: center;
    
}


.finalizarpedido{
    border-bottom: 5px solid #357761;
    border-top: 5px solid #357761;
    background-color: rgb(255, 255, 255);
    height: 200px;
}

.calcfinal{
    background-color: rgba(133, 133, 133, 0.356);
    width: 400px;
    margin-left: 40px;
    text-align: center;
    border-radius: 10px;
}

#finalpedido{
    width: 350px;
    margin-top: 20px ;

}
#finalpedido h3{
    color: rgb(53, 119, 70);
    text-align: end;
}
#finalpedido h1{
    font-size: 35px;
} */

body {
    margin: 0;
    padding: 0;

}