@import "../Components/navbar-clientes.css";

/* Custom styles for HubMenu */
:root {
    --primary: #0e7a56;
    --secondary: #006747;
    --accent: #ff4500;
    --light-gray: #f8f9fa;
    --dark-gray: #343a40;
}

html,
body {
    background-color: white;
    max-width: 100%;
    width: 100% !important;
    height: 100vh !important;
    padding: 0;
    font-family: var(--default-font);
    margin: 0;
    font-family: 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    color: #333;
}

/* Hero Section */
.hero {
    background-color: var(--light-gray);
    padding: 80px 0;
}

.hero h1 {
    color: #333;
}

.search-box {
    max-width: 600px;
    margin: 0 auto;
}

.svg-logo {
    width: 15%;
}

.py-5 {
    padding-top: 1rem !important;
    padding-bottom: 0rem !important;    
}

.fa-solid, .fas {
    color: green;
}

.fa-map-marker-alt {
    color: green;
}

/* Responsive Adjustments */
@media (max-width: 768px) {
    .hero {
        padding: 50px 0;
    }
    .navbar-brand {
        font-size: 1.5rem;
    }
}

@media (max-width: 576px) {
    .hero h1 {
        font-size: 1.8rem;
    }
    .search-box .input-group {
        flex-direction: column;
    }
}

.dropdown, .dropdown-item {
    border: none;
    font-weight: 500;
    color: #666 !important;
    transition: color 0.3s;
}

.dropdown:hover {
    color: var(--primary);
}
